h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px
  text-align: center;
  color: white;
}

.cta {
  color: Aquamarine;
  font-size: 40px
  centered
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.footer{
  text-align: Right;
  color: gray;
}

 body {
   text-align: center;
   background-color: black
 }
