h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px
  color: White;
  align-content: center;
}

.download_link {
  color: Aquamarine;
  font-size: 40px
  centered
}

 body {
   text-align: center;
   background-color: black
 }
